.table {
    overflow: auto;
    &__inner {
        margin: 17px auto 17px;

        th {
            background-color: #e1f038;
            color: #000;
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 15px;
            font-weight: 600;
        }

        th, td {
            border: 1px solid #252420;
            padding: 10px;
            border-radius: 12px;
            text-align: left;
        }

        td{
            height: 35px;
            font-size: 14px;
        }

        tr:nth-child(2n) {
            background-color: #35322b;
        }
    }
}